In [1]:
import pandas as pd

In [2]:
#import file dataset (Airbnb_NewYork_2019.csv) from google drive
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9' -O Airbnb_NewYork_2019.csv

--2024-07-10 00:33:39--  https://docs.google.com/uc?export=download&id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9
Resolving docs.google.com (docs.google.com)... 2404:6800:4001:809::200e, 172.217.174.174
Connecting to docs.google.com (docs.google.com)|2404:6800:4001:809::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9&export=download [following]
--2024-07-10 00:33:40--  https://drive.usercontent.google.com/download?id=1sHBKWxFdfXnkqOLu3jukduMRxg7Bz0-9&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2404:6800:4001:809::2001, 216.58.199.225
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4001:809::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 431301 (421K) [application/octet-stream]
Saving to: ‘Airbnb_NewYork_2019.csv’

Airbnb_NewYork_2019 100%[===================>] 421.19K  --.-KB/s    in 0.1s

2024-07-10 00:33:53 (2.88 MB/s) - ‘Airbnb_NewYork_2019.csv’ saved [431301/431301]

In [3]:
df = pd.read_csv("Airbnb_NewYork_2019.csv")

#Exploratory Data Analysis

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9,2018-11-19,0.10,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996 entries, 0 to 2995
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              2996 non-null   int64
 1   name                            2995 non-null   object
 2   host_id                         2996 non-null   int64
 3   host_name                       2994 non-null   object
 4   neighbourhood_group             2996 non-null   object
 5   neighbourhood                   2996 non-null   object
 6   latitude                        2991 non-null   float64
 7   longitude                       2989 non-null   float64
 8   room_type                       2996 non-null   object
 9   price                           2993 non-null   float64
 10  minimum_nights                  2988 non-null   float64
 11  number_of_reviews               2996 non-null   int64
 12  last_review                     2851 non-null   object
 13  reviews_per_month               2851 non-null   float64
 14  calculated_host_listings_count  2996 non-null   int64
 15  availability_365                2996 non-null   int64
dtypes: float64(5), int64(5), object(6)
memory usage: 374.6+ KB

#1. Check Missing Data

In [6]:
df.isnull()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

id                                  0
name                                1
host_id                             0
host_name                           2
neighbourhood_group                 0
neighbourhood                       0
latitude                            5
longitude                           7
room_type                           0
price                               3
minimum_nights                      8
number_of_reviews                   0
last_review                       145
reviews_per_month                 145
calculated_host_listings_count      0
availability_365                    0
dtype: int64

#1.1 Input missing value

In [8]:
df["price"].isnull().sum()

3

In [9]:
# imputing price with mean
price_mean_value = round(df['price'].mean(), 2)
df['price'].fillna(price_mean_value, inplace=True)

/var/folders/5g/88_vg2516fbcg_fqg8h187h00000gn/T/ipykernel_16408/1325226116.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(price_mean_value, inplace=True)

In [10]:
df["price"].isnull().sum()

0

#### replace with mean

In [11]:
df["reviews_per_month"].isnull().sum()

145

In [12]:
# TODO: imputing reviews_per_month with mean
reviews_per_month = round(df["reviews_per_month"].mean(),2)
df["reviews_per_month"].fillna(reviews_per_month,inplace=True)

/var/folders/5g/88_vg2516fbcg_fqg8h187h00000gn/T/ipykernel_16408/1620348576.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["reviews_per_month"].fillna(reviews_per_month,inplace=True)

In [13]:
df["reviews_per_month"].isnull().sum()

0

replace null with 0

In [14]:
df["minimum_nights"].isnull().sum()

8

In [15]:
# TODO: replace null values in minimum_nights with 0
df["minimum_nights"].fillna(0, inplace=True)

/var/folders/5g/88_vg2516fbcg_fqg8h187h00000gn/T/ipykernel_16408/3011679039.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["minimum_nights"].fillna(0, inplace=True)

In [16]:
print(df["minimum_nights"].isnull().sum())
print(df[df["minimum_nights"] == 0].filter(["minimum_nights"]))
df[df["minimum_nights"] == 0].filter(["minimum_nights"]).count()

0
    minimum_nights
52             0.0
53             0.0
54             0.0
55             0.0
56             0.0
75             0.0
76             0.0
77             0.0

minimum_nights    8
dtype: int64

#### replace null values in name and host_name with 'None'

In [17]:
df.filter(["name","host_name"]).isnull().sum()

name         1
host_name    2
dtype: int64

In [18]:
# TODO: replace null values in name and host_name with 'None'
df["name"].fillna(value='None',inplace=True)
df["host_name"].fillna(value='None',inplace=True)

/var/folders/5g/88_vg2516fbcg_fqg8h187h00000gn/T/ipykernel_16408/3780274334.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna(value='None',inplace=True)
/var/folders/5g/88_vg2516fbcg_fqg8h187h00000gn/T/ipykernel_16408/3780274334.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["host_name"].fillna(value='None',inplace=True)

In [19]:
df.filter(["name","host_name"]).isnull().sum()

name         0
host_name    0
dtype: int64

#### check sum null

In [20]:
df.isnull().sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
latitude                            5
longitude                           7
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                       145
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
dtype: int64

#1.2 Delete missing data rows and Drop missing columns

In [21]:
# TODO: delete last_review mising data row
df.dropna(axis="rows",inplace=True,subset=["last_review"])

In [23]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          5
longitude                         6
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [23]:
#axis=1 (columns)
# df.dropna(axis=1, inplace=True)

In [26]:
# TODO: Drop specific columns (latitude and longitude)
df.dropna(axis=1,inplace=True)

In [27]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

#2. Data in Wrong Format

In [28]:
df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d')

In [29]:
df['last_review'].head()

0   2018-10-19
1   2019-05-21
3   2019-07-05
4   2018-11-19
5   2019-06-22
Name: last_review, dtype: datetime64[ns]

In [37]:
# TODO: Remove data rows that are not valid Date format.
df.dropna(subset=["last_review"],inplace=True)

#3. Wrong Data (Outlier)

In [38]:
# Replace data rows that the column "availability_365" > 365 to 365

for x in df.index:
  if df.loc[x, "availability_365"] > 365:
      df.loc[x, "availability_365"] = 365

In [39]:
df.loc[8]

id                                                              5203
name                              Cozy Clean Guest Room - Family Apt
host_id                                                         7490
host_name                                                  MaryEllen
neighbourhood_group                                        Manhattan
neighbourhood                                        Upper West Side
room_type                                               Private room
price                                                         159.28
minimum_nights                                                   2.0
number_of_reviews                                                118
last_review                                      2019-10-11 00:00:00
reviews_per_month                                               0.99
calculated_host_listings_count                                     1
availability_365                                                   0
Name: 8, dtype: object

#4. Remove Duplicates

In [40]:
# Check for duplicated data
print(df.duplicated().any())

True

In [41]:
df.duplicated()

0       False
1       False
3       False
4       False
5       False
        ...
2991    False
2992    False
2993    False
2994    False
2995    False
Length: 2851, dtype: bool

In [42]:
# TODO : Remove duplicate rows
df.drop_duplicates(inplace=True)

In [43]:
df.duplicated().any()

False

In [50]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,Private room,149.0,1.0,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,Entire home/apt,225.0,1.0,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,Entire home/apt,89.0,1.0,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,Entire home/apt,80.0,10.0,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,Entire home/apt,200.0,3.0,74,2019-06-22,0.59,1,129

# 6610402230 ศิริสุข ทานธรรม